@import "~/styles/partials/config";

.customCalender {
  .react-calendar {
    background: transparent;
    border: 0;

    .react-calendar__navigation {
      .react-calendar__navigation__prev2-button,
      .react-calendar__navigation__next2-button {
        display: none;
      }

      button {
        color: color(foreground);

        &:hover,
        &:focus {
          background: transparent;
        }

        &.react-calendar__navigation__arrow {
          font-size: 30px;
          background-color: transparent;
          &:disabled {
            opacity: 0.3;
          }
        }
      }
    }

    .react-calendar__viewContainer {
      .react-calendar__month-view {
        .react-calendar__month-view__weekdays {
          .react-calendar__month-view__weekdays__weekday {
            color: color(foreground);
            font-weight: 500;

            abbr {
              text-decoration: none;
            }
          }
        }

        .react-calendar__month-view__days {
          .react-calendar__month-view__days__day {
            color: color(foreground);
            border: 1px solid transparent;
            background-color: color(secondary-foreground);
            &:disabled {
              pointer-events: none;
              color: color(8c-foreground);
            }

            &:hover {
              background: rgba(var(--color-primary-rgb), 0.3);
              border: 1px solid color(accent);
              color: color(foreground);
            }

            &.react-calendar__tile--active,
            &.react-calendar__tile--now {
              color: color(foreground);
              background: rgba(var(--color-primary-rgb), 0.3);
              border: 1px solid color(accent);
            }
            &.react-calendar__tile--now {
              background-color: color(secondary-foreground);
              border: none;
              color: color(8c-foreground);
            }
          }
        }
      }

      .react-calendar__year-view {
        .react-calendar__year-view__months {
          .react-calendar__tile {
            border: 1px solid rgba(var(--color-light-gray-rgb), 0.3);
            color: color(muted-foreground);
            &:hover {
              background: transparent;
              border-color: color(muteded-foreground);
              color: color(8c-foreground);
            }
            &.react-calendar__tile--hasActive {
              color: color(foreground);
              background: color(muted-accent);
              border: 1px solid color(accent);
            }
          }
        }
      }

      .react-calendar__decade-view {
        .react-calendar__decade-view__years {
          .react-calendar__tile {
            border: 1px solid rgba(var(--color-light-gray-rgb), 0.3);
            color: color(muted-foreground);
            &:hover {
              background: transparent;
              border-color: color(muteded-foreground);
              color: color(8c-foreground);
            }
            &.react-calendar__tile--hasActive {
              color: color(foreground);
              background: color(muted-accent);
              border: 1px solid color(accent);
            }
          }
        }
      }

      .react-calendar__century-view {
        .react-calendar__century-view__decades {
          .react-calendar__tile {
            border: 1px solid rgba(var(--color-light-gray-rgb), 0.3);
            color: color(muted-foreground);
            &:hover {
              background: transparent;
              border-color: color(muteded-foreground);
              color: color(8c-foreground);
            }
            &.react-calendar__tile--hasActive {
              color: color(foreground);
              background: color(muted-accent);
              border: 1px solid color(accent);
            }
          }
        }
      }
    }
  }
}
